<h1>Congratulations! your account has been created</h1>
<p>Dear {{name}},</p>
<br/>
<p>You just created an account with us please click <a href="{{link}}">here</a> to activate your account or copy the link below</p>
<p><a href="{{link}}">{{link}}</a></p>
<br/>
<p>Warm regards,</p>
<br/>
<p>Joshua Akande</p>